<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/adminstyle.css">
    <title>Cms Shopping Attig Cart</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a  style="color : White" class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color : White" class="nav-link  font color="red" href="/admin/add_page">Add Pages <span class="sr-only">(current)</span></a>
            </li>
            <a style="color : White" class="nav-link  font color="red" href="/admin/pages">Pages <span class="sr-only">(current)</span></a>
            <li>
            </li>
            <a style="color : White" class="nav-link  font color="red" href="/admin/category">Categories <span class="sr-only">(current)</span></a>
            <li>
                <a style="color : White" class="nav-link  font color="red" href="/admin/products/">Products <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>





</body>

</html>

<%- messages('message', locals) %>

<br> <br>


<div class="container">
    <% if (locals.flash ) { %>
        <ul>
            <% Object.values(flash).forEach(function(error){ %>
                <div class="alert alert-success">
                   <li> <%= error%></li>
                </div>
                <% }); %>
        </ul>
    <% } %>
</div>

<div class="container">
    <% if (locals.errors2 ) { %>
        <ul>
                <div class="alert alert-danger">
                    <li> <%= errors2%></li>
                </div>

        </ul>
    <% } %>
</div>

<div class="container">
<% if (locals.errors) { %>
    <ul>
        <% Object.values(errors).forEach(function(error){ %>
        <div class="alert alert-danger">
            <li><%= error.msg %></li>
        </div>
        <% }); %>
    </ul>
<% } %>
</div>


